<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Three.js Sphere UI Test</title>

	</head>
	<body style="margin:0; padding:0; overflow:hidden">

		<!-- dat.gui -->
		<script src="/static/js/lib/dat.gui.js"></script>

		<!-- my script -->
		<script src="/static/js/gui.js"></script>
		<script src="/static/js/viewer.js"></script>
		<script>
			//define the params object (from render.js)
			defineInternalParams();
			defineExternalParams();
			createGUI();	
		</script>
	</body>
</html>
